<ion-view view-title="Mark Place" hide-nav-bar="true">
    <ion-header-bar align-title="left" class="bar bar-stable">
        <div class="buttons">
            <button class="button icon-left ion-chevron-left button-clear button-positive" ng-click="Back()">Back</button>
        </div>
        <h1 class="title">Mark Place</h1>
        <div class="buttons">
            <button class="button button-clear button-positive" ng-click="SaveMarker()"> Done</button>
        </div>
    </ion-header-bar>
    <ion-content class="has-header">
        <div id="addplacemap"></div>
    </ion-content>
</ion-view>
