<ion-view view-title="Login">
    <ion-content style="margin-top:5px">
        <!-- <h3 class="text-center">Login page</h3> -->
        <div class="row">
        
            <button class="button button-block button-assertive icon-left ion-google" ng-click="googleSignIn()">
                 Google
            </button>
            <button class="button button-block button-positive icon-left ion-facebook" ng-click="fbLogin()">
                Facebook
            </button>
        </div>
    </ion-content>
</ion-view>
